* {
    font-family: acme, Arial, sans-serif;
    color: #eee;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: auto auto 1fr / 2fr 1fr 1fr;
}

.navigation {
    grid-column: 1 / 4;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto;
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

header {
    background: rgb(37, 37, 37);
    padding: 2rem;
    grid-column: 1 / 4;
}

nav {
    grid-column: 1 / 4;
    background: blue;
}

.main {
    background: rgb(113, 113, 113);
    grid-column: 1 / 3;
}

.aside {
    background: rgb(195, 195, 195);
    grid-column: 3 / 4;
}

footer {
    background: rgb(37, 37, 37);
    padding: 2rem;
    padding-bottom: 100px;
    text-align: center;
    grid-column: 1 / 4;
}

.main, .aside {
  height: 50vh;
}