* {
    font-family: acme, Arial, sans-serif;
    color: #eee;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: auto auto 1fr / 2fr 1fr 1fr;
}

.navigation {
    grid-column: 1 / 4;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto;
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

header {
    background: rgb(26, 38, 94);
    padding: 2rem;
    grid-column: 1 / 4;
}

header span {
    display: block;
}

nav {
    grid-column: 1 / 4;
    background: blue;
}

.intro {
    color: black;
    grid-column: 1 / 4;
    margin: 2rem;
}

main {
    background: rgb(255, 255, 255);
    grid-column: 1 / 4;
    display: grid;
    grid-template: auto / 1fr 1fr;
    width: 90%;
}

main h1 {
    grid-column: 1 / 4;
    text-align: center;
    margin: 2rem;
    color: black;
}

main h2 {
    color: white;
}

main p, main a {
    color: black;
}

.card {
    display: grid;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.card h2 {
    grid-column: 1 / 4;
    background: rgb(27, 47, 126);
}

.card li {
    text-align: center;
}

footer {
    background: rgb(37, 37, 37);
    padding: 2rem;
    padding-bottom: 100px;
    text-align: center;
    grid-column: 1 / 4;
}